<div id="full-page">
<div class="card form">

<form onSubmit={submit}>
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="selecte.title"/>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="text"  class="form-control" name="image" [(ngModel)]="selecte.image"/>
    </div>

   
    <button  class="btn btn-outline-secondary"  (click)="create()" [routerLink]="'/product'">Save</button>

</form>
</div></div>