<nav style="background-color:#8AA5AB;" class="navbar navbar-dark sticky-top  flex-md-nowrap p-0 shadow">
    
    <ul  class="navbar-nav px-3">
       
        <li class="nav-item text-nowrap">
            <a  style="color:#ffffff" class="nav-link" href="/product">list of products</a>
        </li>
    </ul>

    <ul class="navbar-nav px-3">
       <li class="nav-item text-nowrap">
            <a style="color:#ffffff" class="nav-link" href="/add">add a new product</a>
        </li>
    </ul>
    <button   class="navbar-toggler position-absolute d-md-none collapsed" type="button"
            data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
   

    <!--<input  class="form-control form-control-dark w-100" type="text" placeholder="Search"
    
           aria-label="Search"/>--->

           <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a   style="color:#ffffff" class="nav-link" href="/user_list">   user coin </a>
            </li>
        </ul>
       
   
</nav>

